  <% cell_size = 25 %>

  <script type="text/javascript">
    <% idx = 0 %>
    $(document).ready(function() {
      var ximg = new Image();
      ximg.onload = function() {
        var oimg = new Image();
        oimg.onload = function() {
          ctx = $('canvas')[0].getContext("2d");
          <% @games.each do |game| %>
            drawGame(ctx, ximg, oimg, <%= 110 * idx %>, <%= game.moves %>);
            <% idx += 1 %>
          <% end %>
        };
        oimg.src = "/assets/o.png";
      };
      ximg.src = "/assets/x.png";
    });

    function drawGame(ctx, ximg, oimg, voffset, moves) {
      last = [[0,0,0],[0,0,0],[0,0,0]];
      for (var i = 0; i < moves.length; ++i) {
        move = moves[i];
        var winner = null;
        if (i == moves.length - 1) {
          winner = Game.prototype.winner(move);
        }
                          
        Graphics.Core.drawState(
          ctx,
          2 + 90 * i,
          10 + voffset, 
          ximg,
          oimg, 
          <%= cell_size %>, 
          move,
          winner,
          last
        );

        if (0 != voffset) {
          ctx.beginPath();
          ctx.lineWidth = 1;
          ctx.strokeStyle = "#ccc";
          ctx.moveTo(0, voffset - 7);
          ctx.lineTo(800, voffset - 7);
          ctx.stroke();
        }

        last = move;
      }
    }
  </script>

  <style>
      body {
        margin: 0;
      }

      div {
        width: 800px;
        margin: 0 auto;
      }

      h1 {
        text-align: center;
        font-size: 25px;
      }

      canvas {
        margin-bottom: 50px;
      }

      #header {
        width: 100%;
        background-color: #333;
        overflow: hidden;
        color: #fff;
        padding: 20px 0 20px;
      }

      #last10 {
        margin: 50px 0 35px;
      }
  </style>

  <div id="header">
    <div>
	  <h1>Backbone / Rails Tic-Tac-Toe Minimax Machine</h1>
    </div>
  </div>

  <div>
    <h1 id="last10"> Last 10 Games </h1>
    <canvas width="800" height="1090"></canvas>
  </div>
